/* elements */
body, select, input, textarea {
	color: #333; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body {
	font-family: 'Goudy Old Style', Helvetica, Arial, sans-serif;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	*behavior: url(sites/all/themes/divine/resources/boxsizing.htc); // IE7 only
	
	
}

@font-face {
    font-family: 'Goudy Old Style';
    src: url('../resources/GOUDOS.eot');
    src: url('../resources/GOUDOS.eot?#iefix') format('embedded-opentype'),
         url('../resources/GOUDOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1 {
	font-size: 20px;
	margin-top: 0;
}

h2 {font-size: 18px;}

h2, h3 { 
	padding: 1em 0 .67em;
	margin: 0;

	+ * {
		margin-top: 0;
	}
}

h3 {font-size: 16px;}

h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

h1, h2, h3 {
	font-weight: bold;
	text-transform: uppercase;
}

//drupal adds title class to headers
.title {
	background: url('../images/divider_header.png') bottom center repeat-x;
	padding-bottom: 13px;
}

a, a:active, a:visited {
	color: lighten($medium-blue, 10%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

p {
	margin: 1em 0 0;
	
	&:first-child {
		margin-top: 0;
	}
}

hr {
	border: 0;
	background: url('../images/divider_header.png') repeat-x;
	height: 2px;
	
	.lt-ie8 & {
		margin-top: 10px;
	}
}