//TODO remove this
#skip-link {
	margin: 0;
}

body {
	background-color: $dark-blue;
}

#wrapper {
	background: $light-blue url('../images/bg.jpg') top center no-repeat;
}

.container {
	margin: 0 auto;
	padding: 0 5%;
	width: 100%;
}

#masthead {
	width: 100%;
}

#main {
	margin: 30px 0 40px;
}

#content {
	float: left;
	width: 100%;
	padding: 20px 2.419354839%;
	border: 1px solid $bordercolor;
	background: $blue url('../images/bg_content.jpg') bottom left no-repeat;
	border-radius: 5px;
	
	@include box-shadow;
}

#bottom {
	background: url('../images/divider_header.png') top center repeat-x;
	padding-top: 20px;
	margin-top: 15px;
}

#sidebar {
	float: left;
	width: 100%;
}

#footer {
	font-size: 11px;
	color: $light-blue;
	text-align: center;
	padding: 20px 0 0;
	background: #2C3D46 url('../images/bg_footerRepeat.png') top center repeat-x;
	min-height: 155px; //for gradient background to blend in with body background
}

#copyright {
	margin: 0 0 15px;
	line-height: 1.5em;
	
	a {
		color: $light-blue;
	}
}

//pagination


.item-list {
	ul.pager {
	text-align: center;
	color: #ffffff;

		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			width: 28px;
			height: 32px;
			line-height: 32px;
			border-radius: 2px;
			padding: 0;
			margin-bottom: 5px;
			border-style: solid;
			border-width: 1px;
			cursor: pointer;
			background-color: $dark-blue;
			border-color: darken($dark-blue, 10%);
			position: relative;

			.ajax-progress {
				position: absolute;
				top: 30px;
				left: 5px;
			}

			&.pager-current {
				background-color: lighten($dark-blue, 20%);
			}

			&.pager-first,
			&.pager-previous,
			&.pager-next,
			&.pager-last {
				width: auto;
				
				a {
					padding: 0 5px;
				}
			}

			&:active {
				outline: 0;
				box-shadow: inset 1px 1px 3px darken($dark-blue, 10%);
			}

			&:hover {
				box-shadow: 1px 1px 3px lighten(black, 60%);
			}

			a,
			span {
				display: block;
				color: #ffffff;
				text-shadow: #222 0px 1px 0px;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}