// @group hmenu
.hmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
		padding: 0 5px;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;

		li {
			white-space: nowrap;
		}
	}
}

.primary {
	font-family: 'Goudy Old Style';
	font-size: 14px;
	text-transform: uppercase;
	border-top: 1px solid #cbd3d8;
	border-bottom: 1px solid #cbd3d8;
	text-align: center;
	width: 100%;

	.menu > li {
		line-height: 30px;
		width: 49%;

		&.first {
			padding-left: 0;
		}

		&.last {
			padding-right: 0;
		}
	}

	a {
		color: $medium-blue;
	}
}

.secondary {
	width: 100%;
	background: url('../images/divider_footer.png') bottom center repeat-x;

	.menu > li {
		min-height: 27px;
		padding: 0;
		&:first-child a {
			border-left: 0;
		}
	}

	a {
		font-size: 12px;
		line-height: 1em;
		padding: 0 7px 0 9px;
		color: white;
		border-left: 1px solid white;
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
	}
}

//tabs menu

.tabs {
	list-style: none;
	text-align: left;
	padding: 0;
	border: 0;
	margin-top: 0;

	li {
		padding: 4px;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		background-color: $dark-blue;
		border-radius: 3px;

		a {
			color: white;
		}
	}
}

//editor menu
.editor-menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: $dark-blue;
	width: 100%;

	ul {
		margin: .2em 0;
		padding: 0 20px;
	}

	li {
		list-style: none;
		padding: .1em 10px;
		display: inline-block;
		*display: inline;
		*zoom: 1;

		&:hover {
			background-color: lighten($dark-blue, 10%);
			border-radius: 5px;
		}
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}
}