.logo {
	padding-bottom: 0;
}

.social-media {
	text-align: right;
}

.region-sidebar .block-block {
	
	&:first-child {
		margin-top: 0;
	}
}

div.masthead-block {
	font-size: 18px;
	overflow: visible;
	
	h1 {
		font-size: 40px;
		margin-left: 28%;
	}
	
	.big-image {
		position: absolute;
		bottom: 0;
		left: 4px;
		width: 40%;
		
		img {
			display: block;
		}
	}
	
	.planner {
		margin-left: 40%;
	}
	
	ul.masthead-ul {
		margin-left: 60%;
	}
}