// styles
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $dark-blue; color:#fff; text-shadow: none; }
::selection { background: $dark-blue; color:#fff; text-shadow: none; }

.bordered {
	border: 1px solid $bordercolor;
}

.bordered-rounded {
	border-radius: 10px;
	border: 1px solid $bordercolor;
}

.planner-ul, {
	margin: 0 0 0 45%;
	padding: 0;
	list-style-position: inside;
}

.planner-p {
	margin: 0 0 0 45%;
}